@model List<GlobalEntity.Employee>
 
    
    <div class="card">
        <div class="card-body">
        <a class="btn btn-success" asp-action="Create" asp-controller="Employee">Agregar nuevo</a>
            <div class="card-title">
                <h2>Lista de empleados</h2>
            </div>
            <table class="table table-bordered table-striped">
                <thead class="bg-dark text-white">
                    <tr>
                        <td>Nombre</td>
                        <td>Edad</td>
                        <td>Salario</td>
                        <td>Fecha de ingreso</td>
                        <td>Opciones</td>
                    </tr>
                </thead>
                <tbody>
                @foreach(GlobalEntity.Employee item in Model)
                {
                    <tr>
                        
                        <td>
                            @Html.DisplayFor(itemdisplay=>item.Nombre)
                            @Html.HiddenFor(itemdisplay=>item.IdEmpleado)
                        </td>
                        <td>
                            @Html.DisplayFor(itemdisplay=>item.Edad)
                        </td>
                        <td>
                            @Html.DisplayFor(itemdisplay=>item.Salario)
                        </td>
                        <td>
                            @Html.DisplayFor(itemdisplay=>item.FechadeIngreso)
                        </td>
                        <td>
                            <a onclick="FunEdit(this)" class="btn btn-primary mx-2">Editar</a><a onclick="FunRemove(this)" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
            </table>
        </div>
    </div>

    <script>

        function FunEdit(element){

        var IdEmpleado = $(element).closest('tr').find('input[type=hidden]').val();
        window.location.href = "/Employee/Edit?IdEmpleado=" + IdEmpleado;
        
        
        }

    function FunRemove(element) {

        var IdEmpleado = $(element).closest('tr').find('input[type=hidden]').val();

        if(confirm("¿Desea eliminar el empleado?")){

            $.ajax({

                type: "POST",
                url: "/Employee/Remove",
                data: { IdEmpleado: IdEmpleado },
                success: function (data) {

                    if (data == 'pass') {

                        alert('Eliminado');
                        window.location.reload();
                    } else {

                        alert('fallo');
                    }

                }

            })

        }
        //window.location.href = "/Employee/Edit?IdEmpleado=" + IdEmpleado;


    }

    </script>
